<div class="container">
    <!--BOTÕES DE TESTE DAS FUNÇÕES-->
    <button (click)="changeCurrentPieceValue(1)">ChangePiece to 1</button>
    <button (click)="changeCurrentPieceValue(2)">ChangePiece to 2</button>
    <button (click)="changeCurrentPieceValue(3)">ChangePiece to 3</button>
    <button (click)="changeCurrentPieceValue(4)">ChangePiece to 4</button>
    <button (click)="DiceRoll()">{{DiceResult}}</button>
    <button (click)="AddById(playingPiece)">Add value!</button>
    <div class="square">
        <div class="tabuleiro">
        
                <div class="circle top left green" >
                    <button (click)="select(Storedpiece.id)" class="playercircle" *ngFor="let Storedpiece of pieces" [hidden]="!Storedpiece.available">{{Storedpiece.id}}</button>
                </div>

    

            
                <div class="casa" *ngFor="let space of spaces" [style.gridRow]="space.row + 1" [style.gridColumn]="space.col + 1">
                    {{space.id}}
                </div>


            <div class="piece" *ngFor="let boardPiece of piecesOnBoard" [ngStyle]="{'grid-row': boardPiece.row + 1, 'grid-column': boardPiece.col + 1}">{{boardPiece.id}}</div>

        </div>

    </div>
</div>