.square{
    
    position: relative;
    display: flex;

    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;


    padding: 10px;
    border: 2px solid black;

}

.circle{

    position: absolute;

    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    border: 2px solid black;
    border-radius: 50%;

}

.playercircle{

    position: absolute;

    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
    border: 2px solid black;
    border-radius: 50%;

}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.top_left{
    top: 10px;
    left: 10px;
}

.top_right{
    top: 10px;
    right: 10px;
}

.bottom_left{
    bottom: 10px;
    left: 10px;
}

.bottom_right{
    bottom: 10px;
    right: 10px;
}



.top_left_inside{
    top: 15px;
    left: 15px;
}

.top_right_inside{
    top: 15px;
    right: 15px;
}

.bottom_left_inside{
    bottom: 15px;
    left: 15px;
}

.bottom_right_inside{
    bottom: 15px;
    right: 15px;
}





.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}