<div class="container">

    <button (click)="DiceRoll()">{{DiceResult}}</button>
    <button (click)="AddWithId()">Add value!</button>
    <div class="square">
    
        <div class="circle top_left green">
            <div class="playercircle top_left_inside"></div>
            <div class="playercircle top_right_inside"></div>
            <div class="playercircle bottom_left_inside"></div>
            <div class="playercircle bottom_right_inside"></div>
        </div>

        <div class="circle top_right red">
            <div class="playercircle top_left_inside"></div>
            <div class="playercircle top_right_inside"></div>
            <div class="playercircle bottom_left_inside"></div>
            <div class="playercircle bottom_right_inside"></div>
        </div>

        <div class="circle bottom_left blue">
            <div class="playercircle top_left_inside"></div>
            <div class="playercircle top_right_inside"></div>
            <div class="playercircle bottom_left_inside"></div>
            <div class="playercircle bottom_right_inside"></div>
        </div>

        <div class="circle bottom_right yellow">
            <div class="playercircle top_left_inside"></div>
            <div class="playercircle top_right_inside"></div>
            <div class="playercircle bottom_left_inside"></div>
            <div class="playercircle bottom_right_inside"></div>
        </div>
 

        <div class="tabuleiro">
            <div class="casa" *ngFor="let space of spaces" [style.gridRow]="space.row + 1" [style.gridColumn]="space.col + 1">
                {{space.id}}
            </div>
            <div class="peca" [ngStyle]="{'grid-row': currentSpace.row + 1, 'grid-column': currentSpace.col + 1}"></div>

        </div>

    </div>
</div>