<div class="container">

    <button (click)="DiceRoll()">{{DiceResult}}</button>
    <button (click)="AddWithId()">Add value!</button>
    <div class="square">
        <div class="tabuleiro">
        
                <div class="circle top_left green" >
                    <button (click)="select(Storedpiece.id)" class="playercircle" *ngFor="let Storedpiece of pieces" [hidden]="!Storedpiece.available">{{Storedpiece.id}}</button>
                </div>

    

            
                <div class="casa" *ngFor="let space of spaces" [style.gridRow]="space.row + 1" [style.gridColumn]="space.col + 1">
                    {{space.id}}
                </div>


            <div class="peca" *ngFor="let boardPiece of piecesOnBoard" [ngStyle]="{'grid-row': currentSpace.row + 1, 'grid-column': currentSpace.col + 1}"></div>

        </div>

    </div>
</div>